<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src='/js/jquery-1.11.1/jquery-1.11.1.min.js'></script>
<script src="/js/resize-0.3.0/resize.js"></script>
<script type="text/javascript" src='/js/foil/yjClient.common.js'></script>
<script type="text/javascript" src="/js/foil/yjClient.remote.js"></script>
<script type="text/javascript" src="/js/foil/yjClient.view.js"></script>
</head>
<body>
<script>

$(function(){
    var  locals="<%-locals%>"
    location.href = "/app/account/logout";
})
</script>
</body>
</html>