<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src='/js/jquery-1.11.1/jquery-1.11.1.min.js'></script>
</head>
<body>
<script>
var raw_url="<%-locals.raw_url%>";
var login_url="<%-locals.login_url%>";
var refresh_token=localStorage.getItem("<%-locals.cookie.IDs.refreshToken%>");
$.ajax({
    cache:false,
    method:"get",
    async:true,
    url:'/app/account/refreshToken',
    data:{       
        refresh_token:refresh_token
    },
    success:function(data, textStatus){
        location.href = raw_url;
    },
    error:function(XMLHttpRequest, textStatus, errorThrown){
        //access-token刷新失败（可能refresh-token过期或者账号密码改了），重定向到登录页面
        location.href = login_url;
    }
});
</script>
</body>
</html>